$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
n  1                                                                           \
   basis =n aug-cc-pVDZ                                                        \
   cbas  =n aug-cc-pVDZ
h  2-4,6-8                                                                     \
   basis =h aug-cc-pVDZ                                                        \
   cbas  =h aug-cc-pVDZ
b  5                                                                           \
   basis =b aug-cc-pVDZ                                                        \
   cbas  =b aug-cc-pVDZ
$basis    file=basis
$rundimensions
   dim(fock,dens)=5574
   natoms=8
   nshell=48
   nbf(CAO)=104
   dim(trafo[SAO<-->AO/CAO])=112
   rhfshells=2
   nbf(AO)=100
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$alpha shells
 a       1-9                                    ( 1 )
$beta shells
 a       1-9                                    ( 1 )
$scfiterlimit      100
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   2000 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$denconv     0.10000000E-06
$freeze
 implicit core=    2 virt=    0
$cbas    file=auxbasis
$ricc2
  mp2
$last step     define
$end
