basis    /scratch/SOFTWARE/BAGEL_1.2.0/share/aug-cc-pvdz.json
df_basis /scratch/SOFTWARE/BAGEL_1.2.0/share/new_basis_sets/aug-cc-pvdz-jkfit.json
nact 	3
nclosed 7
nstate 	2 0 0
xms
ms
sssr
shift 	0.25
maxziter 250

method xms-caspt2
save_step 1
